.page.article {
  @import "../../styles/variables.css";

  .banner {
    background-color: #118cbf;
    > div {
      text-align: center;
      > h1 {
        font-size: 26px;
        font-weight: normal;
        margin-bottom: 1rem;
      }
      > p {
        font: 14px "consolas", "Liberation Mono", Menlo, Courier, monospace;
        margin-bottom: 0;
        color: #eee;
      }
    }
  }

  .section {
    max-width: 820px;
  }

  .comments {
    position: relative;
    min-height: 100px;
    padding-top: 2em;
    border-top: 2px dashed #333;
    > div:first-child {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
      text-align: center;
    }
    > :global(.utterances) {
      background: var(--bg-color);
      z-index: 1;
    }
  }

  .to-top {
    position: fixed;
    bottom: 10%;
    right: 15%;
    transform: translateX(100%);
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    &.hidden {
      display: none;
    }
    @media (--small-viewport) {
      right: 10px;
      transform: none;
    }
  }
}