@import "../variables.scss";
@import "./reset.scss";

/*
 * ===============
 *      GLOBAL
 * ===============
 */
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  color: #333;
  background-color: $bg-color;
  padding-top: 50px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  color: #fff;
}

.section {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 768px) {
  .section {
    padding: 0 16px;
  }
}

article {
  position: relative;
  line-height: 1.8em;
  font-size: 16px;
  margin-bottom: 40px;
}
article p {
  margin: 1em 0;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin: 2rem 0 0.5em 0;
  font-weight: normal;
  color: #000;
  line-height: 1em;
}
article h1 a,
article h2 a,
article h3 a,
article h4 a,
article h5 a,
article h6 a {
  color: #000;
  text-decoration: none;
}
article blockquote {
  padding: 0 1em;
  color: #819198;
  border-left: 4px solid #dce6f0;
}
article pre {
  padding: 1.5em;
  margin-top: 10px;
  font: 1rem "consolas", "Liberation Mono", Menlo, Courier, monospace;
  color: #eee;
  background-color: #465a64;
  overflow: auto;
}
article pre code {
  padding: 0;
  color: #eee;
  background-color: #465a64;
}
article figure {
  overflow: auto;
}
article table {
  width: 100%;
}
article ul,
article ol {
  padding: 0 40px;
  margin-bottom: 15px;
}
article hr {
  height: 1px;
  padding: 0;
  margin: 1rem 0;
  background-color: #ccc;
  border: 0;
}
article dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
article dl dd {
  padding: 0;
  margin-bottom: 1rem;
}
article img {
  margin: 10px 0;
  max-width: 100%;
  border: 1px solid #ddd;
}
article code {
  background-color: #465a64;
  color: #fff;
  padding: 0.2rem 0.4rem;
  font-weight: normal;
  font-size: 14px;
  font-family: "consolas", "Liberation Mono", Menlo, Courier, monospace;
}
article a {
  color: #e81c4f;
}
article .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  article .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.article-image {
  line-height: 24px;
  text-align: center;
}
.article-image span {
  display: block;
  font-size: 14px;
}
.article-image img {
  margin: 0 auto;
}

.page.error {
  > .section {
    text-align: center;
    margin: 30px auto 0;
  }
}

@keyframes bounce-loading {
  0% {
    margin-left: -100vw;
  }
  100% {
    margin-left: 100vw;
  }
}

.page-loader {
  position: fixed;
  top: $header-height;
  display: block;
  width: 100%;
  height: 5px;
  overflow: hidden;
  > div {
    width: 100vw;
    height: 100%;
    margin-left: -100vw;
    background-color: rgb(0, 0, 0);
    animation-name: bounce-loading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
