$bg-color: #fafafa;
$header-height: 50px;
$min-width: 1200px;
$max-width: 1440px;
$main-color: #465a64;
$highlight-color: #e06767;
$banner-height: 200px;
$sm-break: 568px;
$md-break: 768px;
$lg-break: 1024px;
$xl-break: 1280px;
$max-screen: 1680px;
$link-color: #e81c4f;