.page.works {
  .banner {
    background-color: #009688;
  }

  .section {
    margin: 16px auto 0;
    > h1 {
      font-size: 2rem;
      text-align: center;
    }
  }

  .row {
    text-align: center;
    + h1 {
      margin-top: 48px;
    }
  }

  .work-item {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    margin-top: 24px;
    text-align: left;
    span {
      display: block;
      font-family: "consolas", "Liberation Mono", Menlo, Courier, monospace;
    }
    h1 {
      margin-bottom: 10px;
      font-size: 1.5rem;
      > a {
        color: #000;
      }
    }
    img {
      max-width: 100%;
      max-height: 450px;
    }
  }

  .work-item.image {
    max-width: 33.33333333%;
    @media (--middle-viewport) {
      max-width: 50%;
    }
    @media (--small-viewport) {
      max-width: 100%;
    }
  }

  .work-item.text {
    max-width: 50%;
    @media (--small-viewport) {
      max-width: 100%;
    }
  }
}
